<ion-content [fullscreen]="true">
    <div class="header">
        <ion-title class="title">Welcome</ion-title>
        <p class="subTitle">Sign up to create your account</p>
    </div>
    <form [formGroup]="regForm" novalidate>
        <div class="ion-padding">
            <ion-item>
                <ion-input formControlName="fullname" placeholder="Enter your name" class="input"></ion-input>
                <ion-icon name="person"></ion-icon>
            </ion-item>
            <div *ngIf="regForm.controls?.['fullname'].touched && regForm.controls?.['fullname'].invalid">
                <ion-text *ngIf="errorControl.fullname.errors?.required">
                    Fullname is required
                </ion-text>
            </div>
            <ion-item>
                <ion-input formControlName="email" placeholder="Enter your email" class="input"></ion-input>
                <ion-icon name="at-outline"></ion-icon>
            </ion-item>
            <div *ngIf="regForm.controls?.['email'].touched && regForm.controls?.['email'].invalid">
                <ion-text *ngIf="errorControl.email.errors?.pattern">
                    Add a valid email
                </ion-text>
            </div>
            <ion-item>
                <ion-input formControlName="password" placeholder="Enter your password" class="input" type="password"></ion-input>
                <ion-icon name="lock-closed"></ion-icon>
            </ion-item>
            <div *ngIf="regForm.controls?.['password'].touched && regForm.controls?.['password'].invalid">
                <ion-text *ngIf="errorControl.password.errors?.pattern">
                    Please enter a valid password
                </ion-text>
            </div>
            <div class="signinLink">
                <p>Already a member? <a style="color:#FFC33F;" [routerLink]="['/login']">Sign in</a></p>
            </div>
        </div>
    </form>
    <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 1px;">
        <ion-fab-button (click)="singup()">
            <ion-icon name="chevron-forward"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
